<div class="row mb-2 mt-2">
  <div class="col-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Nome</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-sm-2 form-gorup">
          <label for="amount">Quantidade</label>
          <input type="number" id="amount" class="form-control">
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          <button type="submit" class="btn btn-success mx-md-1">Incluir</button>
          <button type="button" class="btn btn-danger mx-md-1">Remover</button>
          <button type="button" class="btn btn-primary mx-md-1">Limpar</button>
        </div>
      </div>
    </form>
  </div>
</div>